<!DOCTYPE html>
<html>

<head>
  <title>
    <%= item.name %>
  </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="/css/form.css">
  <!-- form style -->
  <link rel="stylesheet" href="/css/demo.css">
  <!-- Demo style -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Resource style -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/loading.css">
  <link rel="stylesheet" href="/css/loading-btn.css">
  <!-- Resource style -->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
	<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:300,400" rel="stylesheet">
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/css/style2.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top p-2">
		<div class="container">
			<a href="/" class="navbar-brand ">Organify</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="/" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="/myItems" class="nav-link" id="myItemsPage">My items</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link" id="signout">Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- SHOWCASE SLIDER -->
	<section id="showcase" class="mt-5 product-page">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner" id="top-link">
				<div class="carousel-item carousel-image-9 active">
					<div class="container">
						<div class="carousel-caption d-none d-sm-block mb-5 p-3 mb-2 bg-light text-dark rounded opacity">
							<h1 class="display-3">Pasture to Plate</h1>
							<h1 class="poweredby">Powered by Organify</h1>
							<p class="lead">Pasture to Plate cattle are winter fed hay for an average of 60 to
								90 days. All of our animals are free from any kind of pharmaceuticals like antibiotics, growth promoting
								implants, parasite
								controlling chemicals and vaccinations.</p>
							<a href="http://www.pasturetoplate.ca/" target="_blank"><input id="getstarted" type="button" value="Find Out More" class="btn btn-danger btn-lg"></a>
						</div>
					</div>
				</div>
			</div>
	</section>
  
  <div class="container" id='success-message-container' style="padding-top:30px"></div>
  <div class="container" style="padding-top:30px;padding-bottom:50px;">
    <div class="stepwizard" style="padding-bottom:50px;">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <button href="#step-1" type="button" class="btn btn-success btn-circle">1</button>
          <p>Step 1</p>
        </div>
        <div class="stepwizard-step">
          <button href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
          <p>Step 2</p>
        </div>
        <div class="stepwizard-step">
          <button href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
          <p>Step 3</p>
        </div>
        <div class="stepwizard-step">
          <button href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
          <p>Step 4</p>
        </div>
      </div>
    </div>
    <% if(!item.isActive){ %>
  <div class="alert alert-danger" role="alert">
  	        You are modifying an archived item.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
  <% } %>
    <div class="container">
      <form role="form">
        <div class="row setup-content" id="step-1">
          <div class="col-md-4 col-sm-6 mb-4 well">
            <div class="card h-100">
              <a href="/products/<%= item.publicKey %>" target="_blank">
                <img class="card-img-top" src="/img/beef.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/products/<%= item.publicKey %>" target="_blank"><%= item.name %></a>
                </h4>
                <p class="card-text">This is Organify's first product test case. Test is conducted on 27/09/2018</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label class="control-label">Title</label>
              <input maxlength="100" id="title" type="text" required="required" class="form-control" placeholder="Enter event title" />
            </div>
            <div class="form-group">
              <label class="control-label">Date</label>
              <input maxlength="100" type="text" required="required" id="date" class="form-control date" placeholder="mm/dd/yyyy" />
            </div>
            <div class="form-group">
              <label class="control-label">Location</label>
              <input maxlength="100" id="location" type="text" required="required" class="form-control" placeholder="location" />
            </div>
            <div class="form-group">
              <label class="control-label">Description</label>
              <textarea rows="6" id="description" required="required" class="form-control" placeholder="Please describe what goes into the product and list out the parties involved in this event"></textarea>
            </div>
            <!--<div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="transfer">Transfer of ownership</label>
              </div>
            </div>-->
            <div class="form-group" id="transferArea">
              <label class="control-label" for="receipient">Transfer to</label>
              <input maxlength="100" id="receipient" name="receipient" type="text" required="required" class="form-control" placeholder="Receipient public key"
              />
            </div>
            <button class="btn btn-success nextBtn btn-md pull-right ld-ext-right" type="button" id="submit">
              Submit
              <div class="ld ld-ring ld-spin"></div>
              </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
  <script src="/js/custom-bundle.js"></script>
  <script src="/js/session.js"></script>
  <script type="text/javascript">
    $(function () {
      $("#transferArea").hide();
      $('#date').datepicker();
      $("#transfer").change(function () {
        if (this.checked)
          $("#transferArea").fadeIn(600);
        else
          $("#transferArea").fadeOut(600);
      });
      function addSuccessMessage() {
        var div = document.createElement('div');
        div.innerHTML = `<div class="infoMsg" >
        <div class="alert alert-success" role="alert" id="infoMsg">
  	        Your update has been submitted successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div></div>`;
        document.getElementById('success-message-container').appendChild(div);
      }
      function resetForm() {
        $("#title").val("");
        $("#date").val("");
        $("#location").val("");
        $("#description").val("");
        $("#receipient").val("");
        $('#transfer').prop('checked', false);
        $("#transfer").trigger("change");
      }
      $("#submit").click(function (e) {
        event.preventDefault();
        $(this).addClass("running");
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);
        var data = {
          title: $("#title").val(), date: $("#date").val(),
          location: $("#location").val(), 
          description: $("#description").val(), receipient: $("#receipient").val()
        }
        var request = { publicKey: id, data: data };
        $.post("/form/submitItem", request).done(function (data) {
            resetForm();
            addSuccessMessage();
            $("#submit").removeClass("running");
            $('html, body').animate({
                    scrollTop: $("#success-message-container").offset().top - 30
                }, 500);
        });
      })
    });
  </script>
</body>

</html>