<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My Items</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">


  <link rel="stylesheet" href="/css/demo.css">
  <!-- Demo style -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Resource style -->
  <link rel="stylesheet" href="/css/reset.css">

</head>

<body>

  <header>
    <div class="cd-nugget-info">
      <a href="/">
        <span>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
            <style type="text/css">
              .cd-nugget-info-arrow {
                fill: #383838;
              }
            </style>
            <polygon class="cd-nugget-info-arrow" points="15,7 4.4,7 8.4,3 7,1.6 0.6,8 0.6,8 0.6,8 7,14.4 8.4,13 4.4,9 15,9 " />
          </svg>
        </span>
        Go back to Home page
      </a>
      <a href="#" style="padding-left: 30px;" id="signout">
        Sign out
      </a>
    </div>
    <!-- cd-nugget-info -->
    <h1>Pasture to Plate Products</h1>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-sm-8" style="padding-top: 50px; padding-bottom:50px">
        <h2 class="mt-4" style="padding-bottom:1.5em">What We Do</h2>
        <p>Pasture to Plate cattle are 100% grassfed. Depending on the season they are eating fresh grass off the pasture, hay,
								winter grazing through the snow or being supplemented with fodder (sprouts).</p>
        
      </div>
      <div class="col-sm-4" style="padding-top: 50px; padding-bottom:50px">
        <h2 class="mt-4">Contact Us</h2>
        <address>
          <strong>Start Bootstrap</strong>
          <br>3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr> (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">name@example.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <% items.forEach(function(item){ %>
      <% if(item.name && item.publicKey){ %>
      <div class="col-md-3">
        <div class="card h-100">
           <% if(item.type == "pork"){ %>
                  <img class="card-img-top" src="/img/porkimage.jpg" alt=""></a>
                  <%}else{%>
                  <img class="card-img-top" src="/img/beef.jpg" alt=""></a>
                  <%}%>
          <div class="card-body" style="padding: 0.7em 0 0.7em 0;">
            <h3 class="card-title">
              <%= item.name %>
            </h3>
          </div>
          <div class="card-footer">
            <a href="/form/<%= item.publicKey %>" class="btn btn-primary">Add event</a>
          </div>
        </div>
      </div>

      <% }}) %>



    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->

  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="/js/session.js"></script>
</body>

</html>